.list-wrap
  .list-item
    a
      color rgba(2, 0, 0, 0.6)
      &:hover
        color #bebbaa
    padding-bottom 40px
    .title
      display flex
      justify-content space-between
      align-items center
      .line
        flex 1
        display inline-block
        height 1px
        background  #eeeeee
    .cates
      font-size 12px