.loading-mask
  position fixed!important
  left 0
  top 0
  bottom 0
  right 0
  z-index 9999
  background rgba(0,0,0,.3)
  .ant-spin-dot
    position absolute!important
    left calc(50% - 10px)
    top calc(50% - 10px)
.layout
  .logo
    height 100px
    background url('../../image/avatar.jpg') center
    background-size cover
  .trigger
    cursor pointer
    &::before
      padding 0 24px
      height 64px
      line-height 64px
    &:hover
      &::before
        background-color: orange
  .ant-menu-item
    a
      display inline-block
  .handle-user
    float right
    font-size 14px
    .logout
      cursor pointer