.layout-wrapper
  height 100%
  .ant-spin-container
    height 100%
.layout
  .logo
    height 100px
    background url('../../image/avatar.jpg') center
    background-size cover
  .trigger
    cursor pointer
    &::before
      padding 0 24px
      height 64px
      line-height 64px
    &:hover
      &::before
        background-color: orange
  .ant-menu-item
    a
      display inline-block
    