User root
Host leohsun
HostName www.topdiantop.topdian
port 443
StrictHostKeyChecking no
IdentifyFile ~/.ssh/id_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO